@font-face {
    font-family: "roboto";
    src: url(../font/Roboto-Regular.ttf);
}
@font-face {
    font-family: "roboto-bold";
    src: url(../font/Roboto-Black.ttf)
}

    /* Général */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
}
h1 {
    font-size: 48px;
    padding: 7% 15%;
    padding-bottom: 1%;
    font-weight:bold;
    font-family: "roboto-bold";
}
a {
    font-weight: 550;
}
.strong {
    font-weight: 900;
}
.bloc {
    display: block;
}
.sources {
    font-style: italic;
}
.btn {
    text-transform: uppercase;
    background-color: white;
    color: #FF4676;
    border: 1px solid #FF4676;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    min-height: 1.5rem;
    min-width: 8rem;
    max-width: 8rem;
    font-size: small;
    text-align: center;
    transition: all 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    background-color: #FF4676;
    border: 1px solid white;
    color: white;
}

/* Header */

header section:first-child{
    display:flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
header img {
    max-width: 3rem;
    max-height: 3rem;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
}
nav ul li:not(:last-child) {
    border-right: 1px solid black;
}
.banner {
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner .btn {
    margin-bottom: 3rem;
    background-color: #FF4676;
    border: 1px solid white;
    color: white;
}
.banner .btn:hover {
    background-color: white;
    color: #FF4676;
    border: 1px solid #FF4676;
}

/* MAIN */

main h2 {
    text-align: center;
}
main p {
    text-align: center;
}
#approche{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* flex-wrap: wrap; */
}
#approche img {
    max-width: 40vw;
    min-width: 22.5rem;
    min-height: 15rem;
}
#approche h3 {
    margin-bottom: 2rem;   
}
.texteapproche {
    max-width: 40vw;
    margin: 0 2vw;
}
.texteapproche ul  {
    margin-bottom: 2rem;
}
.texteapproche li:before {
    content: "- ";
}
.separation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 2rem 0;
}

/* METHODE */

#methode {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#methode h2 {
    margin-bottom: 2rem;
}
#methode p:nth-child(3) {
    margin-bottom: 2rem;
}
.methode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d"
    ;
    margin: 0 7vw
}
.methodearticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 3vw;
    padding: 3vh 7vw;
}
.methodearticle h3 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.coeur {
    grid-area: a;
}
.main {
    grid-area: b;
}
.fuse {
    grid-area: c;
}
.puzzle {
    grid-area: d;
}

/* ACCOMPAGNEMENT */

#accompagnement {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
#accompagnement h2 {
    margin-bottom: 0.5rem;
}
#accompagnement p:nth-child(3) {
    margin-top: 2rem;
}
.accompagnement {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.accompagnement div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    text-align: center;
    font-weight: 800;
    position: relative;
}
.accompagnement h2 {
    margin-bottom: 3rem;
    position: relative;
}
.cardacc span{
    position: relative;
    width: fit-content;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardacc span::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 110%;
    z-index: -1;
    top: 1rem;
}
.blue span:before {
    background-color: #3BD8C5;
}
.yellow span:before {
    background-color: #FFE17A;
}
.purple span:before {
    background-color: #CD84EB;
}
.accompagnement li {
    margin-bottom: 1rem;
}
.accompagnement .btn {
    margin-top: auto;
}

/* No Regret */

#noregret {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#noregret div {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}
#noregret article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #3BD8C5;
}
.cardreg {
    width: 20rem;
    margin: 5vh 2vw;
    position: relative;
    padding: 1rem;
}
.cardreg img {
    position: absolute;
    top: -3rem;
}
.cardreg h3 {
    display: inline-block;
    margin-top: 3rem;
}
.cardreg h4 {
    display: inline-block;
    margin-bottom: 2rem;
    font-weight: 200;
}

/* BLOG */

#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.blog div:first-child {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog img {
    margin: 0 5vw;
    min-width: 20rem;
    min-height: 10rem;
}
.articleblog {
    max-width: 60vw;
}
.articleblog p, .articleblog h2 {
    text-align: left;
    padding-right: 4rem;
    margin-bottom: 1rem;
}
.articleblog h3 {
    font-size: small;
    margin-bottom: 2rem;
}
.separation2 {
    background-color: #3BD8C5;
    height: 1px;
    width: 85vw;
    margin-top: 4rem;
}

/* FOOTER */

footer {
    background-color: #E2E2E2;
}
footer section {
    display: flex;
    justify-content: space-around;
    padding: 2rem 10vw 2rem 40vw;
}
footer div a {
    color: black;
}
nav a:hover, footer a:hover {
    text-decoration-line: underline;
    color: #3AD8C5;
}
.separationvertical {
    background-color: black;
    width: 1px;
    /* margin: 0 2.5vw; */
}
footer ul {
    display: flex;
    flex-direction: row;
}
footer nav a {
    text-transform: capitalize;
}

/* MEDIA */

@media screen and (max-width:800px){
    body {
        text-align: center;
    }
    
    /* APPROCHE */
    
    #approche {
        flex-direction: column;
    }
    .texteapproche {
       min-width: 90%;
       margin-top: 1rem;
    }
    .separation {
        margin-top: 1rem;
    }

    /* GRID METHODE */

    .methode {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d";
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
    }
    .methodearticle {
        padding: 0;
        /* margin: 0; */
    }

    /* BLOG */

    .blog {
        flex-direction: column;
    }
    .blog img {
        margin-bottom: 1rem;
    }
    .articleblog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: none;
    }
    .articleblog h2{
        text-align: center;
        padding: 0;
    }
    .articleblog p {
        text-align: center;
        padding: 0;
    }

    /* FOOTER */

    footer section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    footer section div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer div a{
        display: block;
        margin: 1rem 0;
    }
}
@media screen and (max-width:600px){

    /* BARRE DE NAVIGATION */

    header section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        
    }
    nav ul li:not(:last-child) {
        border-right: none;
        margin-bottom: 1rem;
    }
    nav ul li:last-child {
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 42px;
    }

}